<a href="https://www.kaggle.com/code/kmljts/pandas-practice-5-3-housing-market?scriptVersionId=182354516" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# Pandas Practice

### Original Work: <https://github.com/guipsamora/pandas_exercises>
Huge shoutout to [guipsamora](https://github.com/guipsamora) for creating these fantastic Pandas exercises! They are clear, concise, and cover essential concepts effectively.  
Uploaded to Kaggle for easy interactivity.

# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
series1 = pd.DataFrame(np.random.randint(1, 5, size=100))
series1

    0
0   3
1   4
2   4
3   4
4   2
.. ..
95  4
96  1
97  2
98  2
99  4

[100 rows x 1 columns]

In [3]:
series2 = pd.DataFrame(np.random.randint(1, 4, size=100))
series2

    0
0   2
1   3
2   3
3   3
4   2
.. ..
95  2
96  3
97  2
98  1
99  1

[100 rows x 1 columns]

In [4]:
series3 = pd.DataFrame(np.random.randint(10_000, 30_001, size=100))
series3

        0
0   29996
1   27286
2   23933
3   27235
4   24675
..    ...
95  25956
96  23123
97  29270
98  11374
99  19248

[100 rows x 1 columns]

### Step 3. Let's create a DataFrame by joinning the Series by column

In [5]:
df = pd.concat([series1, series2, series3], axis=1)
df

    0  0      0
0   3  2  29996
1   4  3  27286
2   4  3  23933
3   4  3  27235
4   2  2  24675
.. .. ..    ...
95  4  2  25956
96  1  3  23123
97  2  2  29270
98  2  1  11374
99  4  1  19248

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [6]:
df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']
# there is `.rename()` as well

df

    bedrs  bathrs  price_sqr_meter
0       3       2            29996
1       4       3            27286
2       4       3            23933
3       4       3            27235
4       2       2            24675
..    ...     ...              ...
95      4       2            25956
96      1       3            23123
97      2       2            29270
98      2       1            11374
99      4       1            19248

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [7]:
bigcolumn = pd.concat([series1, series2, series3])
bigcolumn

        0
0       3
1       4
2       4
3       4
4       2
..    ...
95  25956
96  23123
97  29270
98  11374
99  19248

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [8]:
nrows, _ = bigcolumn.shape
nrows

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [9]:
bigcolumn.index = np.arange(nrows)
# bigcolumn.reset_index(drop=True, inplace=True)

bigcolumn

         0
0        3
1        4
2        4
3        4
4        2
..     ...
295  25956
296  23123
297  29270
298  11374
299  19248

[300 rows x 1 columns]