<a href="https://www.kaggle.com/code/kmljts/pandas-practice-6-1-us-baby-names?scriptVersionId=182366083" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# Pandas Practice

### Original Work: <https://github.com/guipsamora/pandas_exercises>
Huge shoutout to [guipsamora](https://github.com/guipsamora) for creating these fantastic Pandas exercises! They are clear, concise, and cover essential concepts effectively.  
Uploaded to Kaggle for easy interactivity.

# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [2]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')
baby_names

         Unnamed: 0       Id     Name  Year Gender State  Count
0             11349    11350     Emma  2004      F    AK     62
1             11350    11351  Madison  2004      F    AK     48
2             11351    11352   Hannah  2004      F    AK     46
3             11352    11353    Grace  2004      F    AK     44
4             11353    11354    Emily  2004      F    AK     41
...             ...      ...      ...   ...    ...   ...    ...
1016390     5647421  5647422     Seth  2014      M    WY      5
1016391     5647422  5647423  Spencer  2014      M    WY      5
1016392     5647423  5647424     Tyce  2014      M    WY      5
1016393     5647424  5647425   Victor  2014      M    WY      5
1016394     5647425  5647426   Waylon  2014      M    WY      5

[1016395 rows x 7 columns]

### Step 4. See the first 10 entries

In [3]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [4]:
baby_names.drop(columns=['Unnamed: 0', 'Id'], inplace=True)
baby_names

            Name  Year Gender State  Count
0           Emma  2004      F    AK     62
1        Madison  2004      F    AK     48
2         Hannah  2004      F    AK     46
3          Grace  2004      F    AK     44
4          Emily  2004      F    AK     41
...          ...   ...    ...   ...    ...
1016390     Seth  2014      M    WY      5
1016391  Spencer  2014      M    WY      5
1016392     Tyce  2014      M    WY      5
1016393   Victor  2014      M    WY      5
1016394   Waylon  2014      M    WY      5

[1016395 rows x 5 columns]

### Step 6. Is there more male or female names in the dataset?

In [5]:
unique_names = baby_names.groupby(['Gender', 'Name']).size().unstack().T
unique_names

Gender      F      M
Name
Aaban     NaN    2.0
Aadan     NaN    4.0
Aadarsh   NaN    1.0
Aaden     NaN  196.0
Aadhav    NaN    1.0
...       ...    ...
Zyra      7.0    NaN
Zyrah     2.0    NaN
Zyren     NaN    1.0
Zyria    10.0    NaN
Zyriah    9.0    NaN

[17632 rows x 2 columns]

In [6]:
unique_names.count()

Gender
F    10929
M     8012
dtype: int64

In [7]:
unique_names.count().idxmax()

'F'

In [8]:
unique_names.count().sum()

18941

In [9]:
unique_names[unique_names.F.notna() & unique_names.M.notna()]

Gender       F      M
Name
Aaliyah  545.0    1.0
Aaron      6.0  558.0
Aarya     59.0    8.0
Aaryn     10.0    4.0
Abby     464.0    1.0
...        ...    ...
Zuri     183.0    1.0
Zuriel     3.0   39.0
Zyaire    11.0  113.0
Zyan       1.0   18.0
Zyon      19.0  119.0

[1309 rows x 2 columns]

In [10]:
unique_names.count().sum() - unique_names[unique_names.F.notna() & unique_names.M.notna()].F.count()

17632

### Step 7. Group the dataset by name and assign to names

In [11]:
names = baby_names.groupby('Name').Count.sum()
names

Name
Aaban        12
Aadan        23
Aadarsh       5
Aaden      3426
Aadhav        6
           ...
Zyra         42
Zyrah        11
Zyren         6
Zyria        59
Zyriah       58
Name: Count, Length: 17632, dtype: int64

### Step 8. How many different names exist in the dataset?

In [12]:
len(names)

17632

In [13]:
baby_names.Name.nunique()

17632

### Step 9. What is the name with most occurrences?

In [14]:
names.sort_values(ascending=False).head()

Name
Jacob       242874
Emma        214852
Michael     214405
Ethan       209277
Isabella    204798
Name: Count, dtype: int64

In [15]:
names.idxmax()

'Jacob'

### Step 10. How many different names have the least occurrences?

In [16]:
names.min()

5

In [17]:
names[names == names.min()].count()

2578

### Step 11. What is the median name occurrence?

In [18]:
names.median()

49.0

### Step 12. What is the standard deviation of names?

In [19]:
names.std()

11006.06946789057

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [20]:
names.describe()

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64